* {
    background-image: none;
    background-position: center;
    background-size: auto;
}

h1 {
    font-family: 'Courier';
}

img {
    width: 200px;
    align-items: center;
    height: 200px;
}


h2 {
    font-family: monospace;
}